html, body {
    height: 100%;
    background: #f2f2f2;
    color: darkslategray;
    font-family: 'Manjari', sans-serif;
}

a {
    color: #777;
}
a:hover {
    color: #333;
}

.full-height {
  height: 100%;
}
.full-container, .full-row {
    height: 90%;
}